page-login {
     ::-webkit-input-placeholder {
        text-align: center;
    }
    form {
        margin-top: 40%;
    }
    .background-page {
        background-image: url('/assets/img/background-login.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
    .mark-true {
        color: green;
        margin-left: 100px
    }
    .mark-false {
        color: red;
    }
    .btn-submit {
        padding: 16px 18%;
    }
    .item {
        background: transparent;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center
    }
    .link-registration {
        padding: 30px 16px;
    }
}