<ion-content padding class="background-page">
  <form [formGroup]="loginForm" novalidate>
    <ion-item style="text-align: center; margin-bottom: 3%;">
      <ion-input placeholder="Email" type="email" formControlName="login"></ion-input>
      <ion-icon *ngIf="loginForm.controls.login.valid" item-end small name="checkmark" class="mark-true"></ion-icon>
      <ion-icon *ngIf="loginForm.controls.login.value === '' && loginForm.controls.login.dirty || loginForm.controls.login.errors?.login"
        item-end small name="close" class="mark-false"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
      <ion-icon *ngIf="loginForm.controls.password.value !== '' && loginForm.controls.password.dirty" item-end small name="checkmark"
        class="mark-true"></ion-icon>
      <ion-icon *ngIf="loginForm.controls.password.value === '' && loginForm.controls.password.dirty" item-end small name="close"
        class="mark-false"></ion-icon>
    </ion-item>

    <ion-col>
      <ion-buttons class="btn-submit">
        <button ion-button block color="button-green" (click)="onSave()">Login</button>
      </ion-buttons>
    </ion-col>
  </form>
  <div text-center class="link-registration">
    <a tappable (click)="goRegister()">Registrasi?</a>
  </div>
</ion-content>