page-register {
    .mark-true {
        margin-top: 15% !important;
        color: green;
    }
    .mark-false {
        margin-top: 15% !important;
        color: red;
    }
    .button-md {
        height: 2.6rem;
    }
}